<h1>Burgers!</h1>

<h2>Eat-Da-Burger!</h2>

<ul>
  {{#each burgers}}
    
  {{/each}}
</ul>


<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="burger-form">Burger Name:</label>
    <input type="text" id="burger-form" name="name">
  </div>

  <button type="submit">Submit</button>
</form>
