
<div class ="burger-image"> 
<img src="https://img.cinemablend.com/filter:scale/quill/9/6/6/3/7/a/96637aabb562881adec1336c0d78acc6cc5d1403.jpg?fw=1200" alt="Krabby Patty" width="300" height="200">
</div>

<h1>Eat-Da-Burger!</h1>

{{!-- Prints each each burger --}}

<h3>Burgers that are not devoured!</h3>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burgers-block devoured=true}}
    {{/unless}}
  {{/each}}
</ul>

<h3>Burgers that are devoured!</h3>
<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burgers-block devoured=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="burger-name">Burger Name:</label>
    <input type="text" id="burg" name="name">
  </div>

<div class="form-group">
  <label for="devoured">Devoured?</label><br>
  <input type="radio" name="devoured" value="1" checked> Not Devoured!<br>
  <input type="radio" name="devoured" value="0"> Devoured!
</div>

  <button type="submit" class="btn btn-warning">Submit</button>

</form>



<h3></br>Enter a burger you want to eat. Click the "submit" button.</h3>
